@using GeziLog.Models.Classes
@model List<Blog>


    <section class="w3l-main-slider position-relative" id="home">
        <div class="companies20-content">
            <div class="owl-one owl-carousel owl-theme">
                @foreach (var x in Model)
                {
                    <div class="item">
                        <li>

                            <div class="slider-info banner-view bg bg2">
                                <div class="banner-info">
                                    <div class="container">
                                        <div class="banner-info-bg text-center">
                                            <img src="@x.PhotoBlogURL" alt="" white= "500px" height="200px"/>
                                            <a href="/Default/BlogDetails/@x.ID" class="blog_post_title">@x.Title </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </li>
                       
                    </div>
                  }
            </div>
        </div>
    </section>

